# Data and heavy storage
data/
*.csv
*.json
*.parquet
*.pdf
*.png

# Python environment artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# IDE / Editor configuration
.vscode/
.idea/
.ipynb_checkpoints/

# Ignore LBNL datasets and TISEAN temporary results
data/LBNL_FDD_Dataset_FCU/
tisean_results_lbnl/
Tisean_3.0.1/